@keyframes flutuar-ball-p {
  0% {
    margin-left: -120px;
    margin-top: -37px;
  }

  26% {
    margin-top: -37px;
  }

  27% {
    margin-top: -20px;
  }

  28% {
    margin-top: -37px;
  }

  35% {
    margin-top: -25px;
  }

  40% {
    margin-top: -30px;
  }

  45% {
    margin-top: -35px;
  }

  49% {
    margin-top: -50px;
  }

  50% {
    margin-left: 120px;
    margin-top: -60px;
  }
}

@keyframes flutuar-ball-m {
  0% {
    margin-left: -120px;
    margin-top: -85px;
  }
  28% {
    margin-top: -85px;
  }
  29% {
    margin-top: -76px;
  }

  32% {
    margin-top: -90px;
  }

  49% {
    margin-top: -71px;
  }

  50% {
    margin-left: 115px;
    margin-top: -69px;
  }
}

@keyframes flutuar-ball-g {
  0% {
    margin-left: -130px;
    margin-top: -118px;
  }
  32% {
    margin-top: -80px;
  }
  33% {
    margin-top: -85px;
  }
  35% {
    margin-top: -110px;
  }
  40% {
    margin-top: -90px;
  }
  50% {
    margin-left: 122px;
    margin-top: -74px;
  }
}

@keyframes floatBanner {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
}

@layer reset {
  * {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
  }
}

@layer root {
  :root {
    --black: #141414;
    --darkGrey: #1f1f1f;
    --grey: #333333;
    --white: #ffffff;
    --neonGreen: #c4f82a;
    --bluePrimary: #100f28;
    --blueSecundary: #231e3f;
    --blueButton: #3f3b57;
  }

  body {
    height: 100vh;
    background-image: linear-gradient(
      90deg,
      var(--bluePrimary),
      var(--blueSecundary)
    );
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    color: var(--white);
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 0;
  }

  h1 {
    color: var(--white);
    font-size: 25px;
    margin-top: 15px;
  }

  h2 {
    color: var(--white);
    font-size: 1.3rem;
    color: var(--neonGreen);
  }

  p {
    color: var(--white);
    font-size: 1rem;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 15px;
  }

  footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@layer subtitle {
  .subtitle {
    color: var(--neonGreen);
  }
}

@layer container__header {
  .container__header {
    display: grid;
    justify-items: start;
    align-items: center;
  }
}

@layer logotipo {
  .logotipo {
    width: 120px;
  }
}

@layer container__nav {
  .container__nav {
    display: flex;
    justify-content: end;
  }
}

@layer lista-icon-rds {
  .lista-icon-rds {
    display: flex;
    flex-flow: row nowrap;
  }
}

@layer icon-rds {
  .icon-rds {
    width: 30px;
  }
}

@layer icon-rds:hover {
  .icon-rds:hover {
    width: 33px;
  }
}

@layer ball-p {
  .ball-p {
    width: 15px;
    margin-left: 120px;
    margin-top: -60px;
    animation: flutuar-ball-p 5s none 0s ease-out;
  }
}

@layer ball-m {
  .ball-m {
    width: 16px;
    margin-left: 115px;
    margin-top: -69px;
    animation: flutuar-ball-m 5.5s none 0s ease-out;
  }
}

@layer ball-g {
  .ball-g {
    width: 17px;
    margin-left: 122px;
    margin-top: -74px;
    animation: flutuar-ball-g 6s none 0s ease-out;
  }
}

@layer container_div {
  .container_div {
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}

@layer container_main {
  .container_main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

@layer banner {
  .banner {
    width: 400px;
    animation: floatBanner 3s ease-in-out;
    margin-top: -30px;
  }
}

@layer container__main__banner {
  .container__main__banner {
    margin-top: 20px;
  }
}

@layer container__main__button {
  .container__main__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@layer button {
  .button {
    color: var(--white);
    background-color: var(--blueButton);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    border-style: none;
    box-shadow: 5px 5px 5px var(--black);
    padding: 10px 50px 10px 50px;
    margin-top: 20px;
  }

  .button:hover {
    color: var(--bluePrimary);
    background-color: var(--neonGreen);
  }
}

@layer button_two {
  .button_two {
    color: var(--white);
    background-color: var(--blueButton);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    border-style: none;
    box-shadow: 5px 5px 5px var(--black);
    padding: 10px 50px 10px 50px;
  }

  .button_two:hover {
    color: var(--bluePrimary);
    background-color: var(--neonGreen);
  }
}

@layer container__technology__text {
  .container__technology__text {
    margin-top: 50px;
  }
}

@layer text_technology {
  .text_technology {
    text-align: justify;
  }
}

@layer container__sites__technology {
  .container__sites__technology {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@layer border__sites {
  .border__sites {
    width: 400px;
    height: 230px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--blueButton);
    box-shadow: 5px 5px 5px var(--blueSecundary);
    margin-top: 20px;
  }
}

@layer img_technology {
  .img_technology {
    width: 280px;
    margin: 10px 0 20px 0;
  }
}

@layer text__img {
  .text__img {
    margin-top: -30px;
    text-align: center;
  }
} 

@layer icons_technology {
  .icons__technology {
    width: 160px;
  }
}

@layer subtitle_technology {
  .subtitle_technology {
    text-align: center;
  }
}

@layer model-sites {
  .model-sites {
    width: 250px;

    border-style: ;
    border-width: 1px;
    border-color: var(--white);
    border-radius: 8px;
  }
}

@layer container_hosp {
  .container_hosp{
    max-width: 800px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
  }
}

@layer list_hosp {
  .list_hosp {
    list-style: inside;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 20px;
  }
}

@layer container_button_three {
  .container_button_three {
    margin: 20px;
  }
}

@layer text__button__three {
  .text__button__three {
    text-align: justify;
    margin-bottom: ;
  }
}

@layer button_three {
  .button_three {
    color: var(--bluePrimary);
    background-color: var(--neonGreen);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    border-style: none;
    padding: 10px 25px;
  }

  .button_three:hover {
    color: var(--white);
    background-color: var(--blueButton);
    box-shadow: 5px 5px 5px var(--black);
  }
}

@layer container_button_hosp {
  .container_button_hosp {
    margin: 30px;
  }
}

@layer text__button__hosp {
  .text__button__hosp {
    text-align: center;
  }
}

@layer button_hosp {
  .button_hosp {
    color: var(--bluePrimary);
    background-color: var(--neonGreen);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    border-style: none;
    padding: 10px 25px;
  }

  .button_hosp:hover {
    color: var(--white);
    background-color: var(--blueButton);
    box-shadow: 5px 5px 5px var(--black);
  }
}

@layer img_hosp {
  .img_hosp {
    width: 280px;
  }
}

@layer container_bot {
  .container_bot {
    background-color: var(--whit);
    margin-top: 35px;
  }
}

@layer title_bot {
  .title_bot {
    text-align: center;
  }
}

@layer list_bot {
  .list_bot {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 25px;
  }
}

@layer bot_icons {
  .bot_icons {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--blueButton);
    box-shadow: 5px 5px 5px var(--blueSecundary);
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@layer img_bot {
  .img_bot {
    width: 50px;
  }
}

@layer list__bot {
  .list__bot {
    color: var(--white)
  }
}

@layer container__button_bot {
  .container__button_bot {
    margin-top: 30px;
  }
}

@layer customer {
  .title_customer {
    margin-top: 60px;
  }

  .text__customer {
    text-align: center;
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%); 
  }

  .container_customer {
    max-width: 900px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .customer {
    width: 100px;
  }
}

@layer footer {
  .section_form {
    background-color: var(--bluePrimary);
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px var(--blueButton);
    padding: 30px;
    width: 500px;
    margin-top: 50px;
  }

  .title_form, .text_form {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .inputs {
    width: 100%;
    border-radius: 6px;
    border-style: none;
  }

  .button_form {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    border-radius: 6px;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--blueSecundary);
    background-color: var(--white);
  }

  .button_form:hover {
    background-color: var(--neonGreen);
  }

  .text_copyright {
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .button {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    margin-top: 30px;
    font-size: 18px;
  }

  p {
    margin-bottom: 0;
    font-size: 12.5px;
  }

  .banner {
    width: 300px;
  }

  .container__technology__text {
    margin-top: 15px;
  }

  .container_hosp {
    margin-top: 15px;
    max-width: 340px;
  } 

  .list_hosp {
    list-style: inside;
    display: flex;
    flex-flow: column;
    text-align: start;
  }

  .border__sites {
    width: 320px;
  }
}

@media (min-width: 481px) and (max-width: 723px) {
  .banner {
    width: 400px;
  }

  .button {
    display: none;
  }

  h2 {
    margin-top: 30px;
  }

  p {
    margin-bottom: 0;
  }
}

@media (min-width: 724px) {
   .button_two {
    display: none;
  }

  .container_bot {
    margin-top: 80px;
  }
}
